.type {
  margin-top: 40px;
  padding: 10px 250px 0px 250px;
}

.typeList {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  line-height: 0.5;
}

.typeList p:nth-child(2) {
  font-weight: bold;
}

.typeList img {
  width: 148px;
  height: 150px;
}
