.NavBar {
  font-size: 20px;
  display: flex;
  gap: 1rem;
  margin-top: 40px;
}
.NavBar i {
  font-size: 25px;
  margin-right: 10px;
}

p {
  padding: 10px;
}

.active {
  border: 1px white solid;
  border-radius: 20px;
}

.NavBar p {
  cursor: pointer;
}
